{% load static%}
<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>

<body>

{% block content %}


<div class="topnav">
		<div style="position: relative; ">
			<div>
					<a href="/incubator"> Home</a>
			</div>

			<div>
					<a href="/incubator/packet">Data</a>
			</div>
		</div>		
		
		<div style="position: absolute; right: 0px;">
			<div>
					<a class="active" href="/login"> Login</a>
			</div>
		</div>

</div>




<div style="background-color:#337AFF; padding: 10px; position:absolute; right:40%; top: 100px">
<div>
<p>Login</p>
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	{% if next %}

		{% if user.is_authenticated %}

			<p>Your account doesn't have access to this page. To proceed,

			lease login with an account that has access.</p>

		{% else %}
			<p>Please login to see this page.</p>
	{% endif %}
	
{% endif %}

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<table style="background-color:#337AFF;">	
		<tr>
			<td style="background-color:#337AFF">{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td style="background-color:#337AFF">{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
		</tr>
	</table>


<input style="padding: 5px 10px; margin: 10px 100px" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />

</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
</div>
{% endblock %}

</body>
</html>
