<style>
.flex-container{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        background-color:grey;
        padding: 20px;
}

body{
        background-color: lightblue;
}
a{
text-decoration:none;
color:black;
size:15px;

}

</style>

<div class="flex-container">
        <div>
                <a href="/incubator"> Home</a>
        </div>
{% if user.is_authenticated %}
        <div>
                <a href="/logout"> Logout</a>
        </div>
{% else %}

        <div>
                <a href="/login"> Login </a>
        </div>
{% endif %}
        <div>
                <a href="/incubator/packet">Data</a>
        </div>
</div>




{% if user.is_authenticated %}
<h2>Hello, {{ user.get_username }}</h2>

{% else %}
<h2>Hello!</h2>

{% endif %}

